<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="GOLEntities" connectionString="metadata=res://*/GOL.csdl|res://*/GOL.ssdl|res://*/GOL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=GOL;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADOLDBEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=ADOLDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="DataApiBaseURL" value="http://xml2.txodds.com/feed/odds/xml.php?ident={0}&amp;passwd={1}"/>
    <add key="DataApiUser" value="discoverytx"/>
    <add key="DataApiPass" value="57t6y67"/>
  </appSettings>
</configuration>