@model IList<ADOL.APP.Web.Controllers.HomeController.match>
@{
    ViewBag.Title = "Página principal";
}
<script src="~/Scripts/betsController.js"></script>
<style>
    .hidden {
        display: none;
    }
</style>

<div ng-app="betsApp" ng-controller="matchsController">
    <input id="userToken" type="hidden" value="{{token}}" />
    <div id="categories" class="col-a">
        @Html.Partial("SportsTree")
    </div>
    <div>
        <div id="events" class="col-b">
            <div class="breadcrum">
                <a href="#">{{SelectedSportName}}</a><a href="#">America</a><a href="#">Argentina</a><a href="#">Torneo Julio Humberto Grondona 2015</a>
            </div>

            <a class="banner" href="#">
                <img width="482px" height="67px" src="Images/banner-2.jpg">
            </a>
            <!-- eventos -->
            <div class="{{showRegion == 'matchs' ? '' :'hidden' }}" ng-repeat="match in matchs track by $index">
                <!-- evento -->
                <div class="event">
                    <div ng-click="ViewMathcBets(match.Code, $index)" class="heading">
                        <span class="event-date">{{ match.Date }}</span>
                        <span class="event-time">{{ match.Time }}</span>
                        <span class="event-title"><span class="team1">{{ match.Nombre }}</span></span>
                        <span class="event-stats">
                            <img src="images/stats-icon.png"></span>
                        <span class="event-lines">+33</span>
                    </div>
                    <div class="select-bet tres">
                        <div ng-class="match.ApuestasDisponibles[0].OddCollection[0].selected" ng-click="selectMatchOption($index, 0, 'Ganador del partido', match.Local)"><span>{{ match.Local }}</span><span class="value">{{ match.ApuestasDisponibles[0].OddCollection[0].Price }}</span></div>
                        <div ng-class="match.ApuestasDisponibles[0].OddCollection[1].selected" ng-click="selectMatchOption($index, 1, 'Ganador del partido', 'Empate')"><span>Empate</span><span class="value">{{ match.ApuestasDisponibles[0].OddCollection[1].Price }}</span></div>
                        <div ng-class="match.ApuestasDisponibles[0].OddCollection[2].selected" ng-click="selectMatchOption($index, 2, 'Ganador del partido', match.Visitante)"><span>{{ match.Visitante }}</span><span class="value">{{ match.ApuestasDisponibles[0].OddCollection[2].Price }}</span></div>
                    </div>
                </div>
            </div>
            <div class="{{showRegion == 'odds' ? '' :'hidden' }}">
                <div class="event detail">
                    <div class="heading">
                        <span class="event-date">{{ matchs[matchDetailIdx].Date }}</span>
                        <span class="event-time">{{ matchs[matchDetailIdx].Date }}</span>
                        <span class="event-title"><span class="team1">{{ matchs[matchDetailIdx].Nombre }}</span></span>
                        <span class="event-stats">
                            <img src="css/stats-icon.png"></span>
                        <span class="event-lines">+33</span>
                    </div>
                    <!-- apuesta -->
                    <div class="typeofbet">
                        <h4>Resultado del partido</h4>
                        <div class="select-bet tres">
                            <div ng-class="matchs[matchDetailIdx].ApuestasDisponibles[0].OddCollection[0].selected" ng-click="selectMatchOption(matchDetailIdx, 0, 'Ganador del partido', matchs[matchDetailIdx].Local)"><span>{{ matchs[matchDetailIdx].Local }}</span><span class="value">{{ matchs[matchDetailIdx].ApuestasDisponibles[0].OddCollection[0].Price }}</span></div>
                            <div ng-class="matchs[matchDetailIdx].ApuestasDisponibles[0].OddCollection[1].selected" ng-click="selectMatchOption(matchDetailIdx, 1, 'Ganador del partido', matchs[matchDetailIdx].Local)"><span>Empate</span><span class="value">{{ matchs[matchDetailIdx].ApuestasDisponibles[0].OddCollection[1].Price }}</span></div>
                            <div ng-class="matchs[matchDetailIdx].ApuestasDisponibles[0].OddCollection[2].selected" ng-click="selectMatchOption(matchDetailIdx, 2, 'Ganador del partido', matchs[matchDetailIdx].Local)"><span>{{ matchs[matchDetailIdx].Visitante }}</span><span class="value">{{ matchs[matchDetailIdx].ApuestasDisponibles[0].OddCollection[2].Price }}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-c">
            @Html.Partial("Bets")
        </div>
    </div>
</div>