@model ADOL.APP.CurrentAccountService.BusinessEntities.DTOs.ActionResultDTO
@{
    ViewBag.Title = "Página principal";
}
<script src="~/Scripts/betsController.js"></script>
<style>
    .hidden {
        display: none;
    }
</style>

<div ng-app="betsApp" ng-controller="matchsController">
    <input id="userToken" type="hidden" value="{{token}}" />
    <div id="categories" class="col-a">
        @Html.Partial("SportsTree")
    </div>
    <div>
        <div id="events" class="col-b">
            <div class="breadcrum"  ng-bind-html="getBreadcrumb()" ></div>
           
            <a class="banner" href="#">
                <img width="482px" height="67px" src="Images/banner-2.jpg">
            </a>
            <!-- eventos -->
            <div class="{{showRegion == 'matchs' ? '' :'hidden' }}" ng-repeat="match in matchs track by match.ID">
                <!-- evento -->
                <div class="event">
                    <div ng-click="ViewMathcBets(match.code, $index)" class="heading">
                        <span class="event-date">{{ match.date }}</span>
                        <span class="event-time">{{ match.time }}</span>
                        <span class="event-title"><span class="team1">{{ match.nombre }}</span></span>
                        <span class="event-stats">
                            <img src="images/stats-icon.png"></span>
                        <span class="event-lines">+33</span>
                    </div>
                    <div class="select-bet tres" ng-repeat="bet in match.apuestasDisponibles track by bet.ID ">
                        <div ng-class="isOddSelected(match, bet, odd)?'selected':''" ng-click="betMatchResult(match.ID, bet.ID, odd.code)" ng-repeat="odd in bet.oddCollection track by odd.ID">
                            <span>{{ OptionText(match, bet.oddType, odd.code) }}</span><span class="value">{{ odd.price }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="{{showRegion == 'odds' ? '' :'hidden' }}">
                <div class="event detail">
                    <div class="heading">
                        <span class="event-date">{{ detailMatch.date }}</span>
                        <span class="event-time">{{ detailMatch.time }}</span>
                        <span class="event-title"><span class="team1">{{ detailMatch.nombre }}</span></span>
                        <span class="event-stats">
                            <img src="images/stats-icon.png"></span>
                        <span class="event-lines">+33</span>
                    </div>
                    <!-- apuesta -->
                    <div class="typeofbet" ng-repeat="bet in detailMatch.apuestasDisponibles track by bet.ID">
                        <h4>{{getBetKind(bet.oddType)}}</h4>
                        <div class="select-bet tres" >
                            <div ng-class="isOddSelected(detailMatch, bet, odd)?'selected':''" ng-click="betMatchResult(detailMatch.ID, bet.ID, odd.code)" ng-repeat="odd in bet.oddCollection track by odd.ID">
                                <span>{{ OptionText(detailMatch, bet.oddType, odd.code) }}</span><span class="value">{{ odd.price }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-c">
            @Html.Partial("Bets")
        </div>
    </div>
</div>
