@{
    ViewBag.Title = "MatchBet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css" id="less:betplatino-sports-css-main">
    /********************/
    /********** mixins **********/
    /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        font-family: 'Roboto', sans-serif;
        color: white;
    }
    /* HTML5 display-role reset for older browsers */
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }

    body {
        line-height: 1.2;
        background: black;
    }

    ol,
    ul {
        list-style: none;
    }

    blockquote,
    q {
        quotes: none;
    }

        blockquote:before,
        blockquote:after,
        q:before,
        q:after {
            content: '';
            content: none;
        }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    * {
        box-sizing: border-box;
    }

    a {
        color: #f7b22c;
    }

    input {
        border: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        color: #000;
        padding: 0.4em;
    }

    .btn {
        display: inline-block;
        padding: 0.3em 0.8em;
        margin: 0.3em 1em;
        text-decoration: none;
        text-align: center;
        color: white;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        min-width: 100px;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }

        .btn.btn-main {
            background-color: #f7b22c;
        }

            .btn.btn-main:hover {
                background-color: #f8bb45;
            }

    .error-msj {
        background: #df6363;
        padding: 1em 0.5em;
        color: #FFFFFF;
        font-size: 0.8em;
        line-height: 1;
        border: 1px solid #e78585;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
    }
    /*****************************/
    .col-a,
    .col-b,
    .col-c {
        float: left;
    }

    .col-a {
        width: 25%;
    }

    .col-b {
        width: 50%;
        padding: 1em;
    }

    .col-c {
        width: 25%;
    }
    /************* col-a menu **********/
    ul.mtree {
        opacity: 0;
        margin-left: 0;
    }

        ul.mtree ul {
            margin-left: 1em;
        }

        ul.mtree li {
            list-style: none;
        }

        ul.mtree a {
            display: block;
        }

        ul.mtree li.mtree-node > a {
            font-weight: bold;
        }

        ul.mtree a {
            -webkit-transition: all 300ms ease-out;
            -moz-transition: all 300ms ease-out;
            -ms-transition: all 300ms ease-out;
            -o-transition: all 300ms ease-out;
            transition: all 300ms ease-out;
        }

        ul.mtree.transit {
            background: #111;
            border-right: 1px solid #323232;
            border-bottom: 1px solid #323232;
        }

            ul.mtree.transit ul {
                margin-left: 0;
            }

                ul.mtree.transit ul > li {
                    font-size: .9em;
                }

            ul.mtree.transit li.mtree-node {
                position: relative;
            }

                ul.mtree.transit li.mtree-node > a:before {
                    color: #CCC;
                    font-weight: normal;
                    position: absolute;
                    right: 20px;
                }

            ul.mtree.transit li.mtree-open > a:before {
                content: '-';
            }

            ul.mtree.transit li.mtree-closed > a:before {
                content: '+';
            }

            ul.mtree.transit ul > li:first-child {
                margin-top: 1px;
            }

            ul.mtree.transit li.mtree-open > a {
                background: #222;
            }

            ul.mtree.transit li > a:hover,
            ul.mtree.transit li.mtree-active > a {
                background: #333;
                color: #f7b22c;
            }

            ul.mtree.transit li.mtree-node > ul > li:last-child {
                margin-bottom: .5em;
                padding-bottom: .5em;
                border-bottom: 1px solid #333;
            }

            ul.mtree.transit li.mtree-node:last-child > ul > li:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
            }

            ul.mtree.transit a {
                padding: 5px 0px 5px 0.8em;
                color: #CCC;
                text-decoration: none;
            }

            ul.mtree.transit li li > a {
                padding-left: 1.6em;
            }

            ul.mtree.transit li li li > a {
                padding-left: 2.4em;
            }

            ul.mtree.transit li li li li > a {
                padding-left: 3.2em;
            }

            ul.mtree.transit li li li li li > a {
                padding-left: 4em;
            }
    /********** col-b breadcrum / event ************/
    .breadcrum {
        overflow: hidden;
        font-size: 0.8em;
        display: inline-block;
        border: 1px solid #222222;
        margin-bottom: 1em;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
    }

        .breadcrum a {
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
            -ms-transition: all 0.3s linear;
            transition: all 0.3s linear;
            padding: 0.5em 1em;
            display: inline-block;
            text-decoration: none;
        }

            .breadcrum a:nth-child(1) {
                background-color: rgba(255, 255, 255, 0.18);
            }

            .breadcrum a:nth-child(2) {
                background-color: rgba(255, 255, 255, 0.15);
            }

            .breadcrum a:nth-child(3) {
                background-color: rgba(255, 255, 255, 0.13);
            }

            .breadcrum a:nth-child(4) {
                background-color: rgba(255, 255, 255, 0.1);
            }

            .breadcrum a:hover {
                background-color: rgba(255, 255, 255, 0.09);
                text-decoration: underline;
            }
    /*********/
    .banner {
        display: block;
        margin-bottom: 0.5em;
    }

        .banner img {
            width: 100%;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            overflow: hidden;
        }
    /*********/
    .event {
        background-color: #333333;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        padding: 1em;
        margin-bottom: 1em;
        font-size: 1em;
        border: 1px solid #414141;
    }

    .event {
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        transition: all 0.3s linear;
        opacity: 0.8;
    }

        .event:hover {
            opacity: 1;
        }

        .event .heading {
            display: table;
            width: 100%;
            padding: 0 0 0.5em 0;
        }

            .event .heading > span {
                display: table-cell;
            }

        .event .select-bet {
            width: 100%;
            font-size: 0.8em;
            border: 1px solid #212121;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            overflow: hidden;
        }

            .event .select-bet .value {
                color: #f7b22c;
            }

            .event .select-bet div {
                overflow: hidden;
                text-align: left;
                cursor: pointer;
                padding: 0.5em 0.8em;
                background: #272727;
                float: left;
            }

                .event .select-bet div span:last-child {
                    float: right;
                }

                .event .select-bet div:hover {
                    background: #414141;
                }

            .event .select-bet .selected {
                background: #f7b22c;
            }

                .event .select-bet .selected .value {
                    color: white;
                }

    .select-bet.tres div {
        width: 33.333333333%;
    }

        .select-bet.tres div:nth-child(2) {
            border-left: 1px solid #212121;
            border-right: 1px solid #212121;
        }

    .select-bet.dos div {
        width: 50%;
    }

        .select-bet.dos div:nth-child(odd) {
            border-right: 1px solid #212121;
        }

    .sub-bet {
        border-top: 1px solid #383838;
        margin-bottom: 1.5em;
        margin-left: -0.3em;
        margin-right: -0.3em;
        padding: 0 0.3em;
    }

        .sub-bet h5 {
            font-size: 0.8em;
            padding: 1em 0 1em 0;
            text-align: left;
            color: #A3A3A3;
        }

    .event-date,
    .event-time {
        text-align: left;
        font-size: 0.7em;
        width: 10%;
    }

    .event-title {
        text-transform: uppercase;
        font-size: 0.8em;
        text-align: center;
        width: 60%;
    }

        .event-title .team1,
        .event-title .team2 {
            font-weight: 700;
        }

    .event-stats,
    .event-lines {
        text-align: right;
        font-size: 0.7em;
        width: 10%;
    }
    /********** col-c talon de apuestas ************/
    .delete-btn {
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        transition: all 0.3s linear;
        display: inline-block;
        padding: 7px 9px;
        font-size: 10px;
        line-height: 9px;
        color: white;
        text-decoration: none;
        background: #2F2F27;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        position: absolute;
        top: 12px;
        right: 10px;
        font-weight: 400;
        border: 1px solid #575757;
    }

        .delete-btn:hover {
            background: #575757;
            border: 1px solid #2F2F27;
        }

    #talon {
        font-size: 0.8em;
        line-height: 2em;
        padding: 1em;
        background: #111111;
        border: 1px solid #323232;
        margin-top: 2em;
        margin-right: 1em;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
    }

        #talon h5 {
            font-size: 1em;
            text-align: center;
            text-transform: uppercase;
            font-weight: 700;
            border-bottom: 1px solid #323232;
            margin: 0 -1em 0em -1em;
            padding: 0 0.5em 0.5em 0.5em;
            color: #f7b22c;
        }

        #talon .yourcredit {
            font-size: 0.8em;
            padding: 0.2em 1em;
            background: #353535;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
        }

            #talon .yourcredit span {
                font-weight: 700;
                float: right;
            }

        #talon .tipodeapuesta {
            position: relative;
            height: 46px;
            z-index: 999;
            overflow: visible;
        }

            #talon .tipodeapuesta > span {
                float: left;
                font-weight: 700;
                padding: 1em 0;
            }

            #talon .tipodeapuesta .tab {
                float: right;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                -moz-background-clip: padding;
                -webkit-background-clip: padding-box;
                background-clip: padding-box;
                font-size: 0.8em;
                height: 50px;
            }

                #talon .tipodeapuesta .tab .selected {
                    color: #f7b22c;
                    background: transparent url(http://www.gonni.com.ar/betplatino/sports/css/selected.png) no-repeat center bottom;
                }

                #talon .tipodeapuesta .tab a {
                    display: inline-block;
                    padding: 1em;
                    vertical-align: middle;
                    cursor: pointer;
                    text-decoration: none;
                    color: white;
                    margin: 2px;
                }

                    #talon .tipodeapuesta .tab a:hover {
                        color: #f7b22c;
                    }

        #talon .value {
            float: right;
            color: #f7b22c;
            text-transform: uppercase;
        }

        #talon .apuesta {
            position: relative;
            border-top: 1px solid #323232;
            border-bottom: 1px solid #323232;
            padding: 1em;
        }

            #talon .apuesta .title {
                font-weight: 700;
                color: #f7b22c;
                font-size: 1.1em;
            }

            #talon .apuesta .desc {
                font-size: 0.8em;
                line-height: 1em;
                padding-bottom: 1em;
            }

            #talon .apuesta .cantidad .number {
                float: right;
                text-transform: uppercase;
            }

                #talon .apuesta .cantidad .number input {
                    width: 50px;
                    text-align: right;
                }

        #talon .resumen {
            border-bottom: 1px solid #323232;
            padding: 1em;
            margin: 0 -1em 1em;
        }

        #talon .confirmar {
            text-align: center;
        }

            #talon .confirmar .btn {
                display: block;
                margin-left: 0;
                margin-right: 0;
            }

    .simple,
    .combinada {
        display: none;
        margin: 0 -1em;
        border: 1px solid #f7b22c;
    }

    .show {
        display: block;
    }
    /********** detalle de evento **********/
    .event.detail .event-title {
        font-size: 1.2em;
    }

        .event.detail .event-title span {
            color: #f7b22c;
        }

    .event.detail .typeofbet {
        text-align: center;
        background: #4C4C4C;
        padding: 0.5em 0.2em 0.2em 0.2em;
        border: 1px solid #595959;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        margin-bottom: 1em;
    }

        .event.detail .typeofbet h4 {
            font-size: 0.7em;
            text-transform: uppercase;
            font-weight: 700;
            padding-bottom: 1em;
        }
    /************************** banderas ************/
    /********* http://www.flag-sprites.com/ ************/
    .flag {
        width: 16px;
        height: 11px;
        background: url(http://www.gonni.com.ar/betplatino/sports/css/flags.png) no-repeat;
    }

        .flag.flag-ad {
            background-position: -16px 0;
        }

        .flag.flag-ae {
            background-position: -32px 0;
        }

        .flag.flag-af {
            background-position: -48px 0;
        }

        .flag.flag-ag {
            background-position: -64px 0;
        }

        .flag.flag-ai {
            background-position: -80px 0;
        }

        .flag.flag-al {
            background-position: -96px 0;
        }

        .flag.flag-am {
            background-position: -112px 0;
        }

        .flag.flag-an {
            background-position: -128px 0;
        }

        .flag.flag-ao {
            background-position: -144px 0;
        }

        .flag.flag-ar {
            background-position: -160px 0;
        }

        .flag.flag-as {
            background-position: -176px 0;
        }

        .flag.flag-at {
            background-position: -192px 0;
        }

        .flag.flag-au {
            background-position: -208px 0;
        }

        .flag.flag-aw {
            background-position: -224px 0;
        }

        .flag.flag-az {
            background-position: -240px 0;
        }

        .flag.flag-ba {
            background-position: 0 -11px;
        }

        .flag.flag-bb {
            background-position: -16px -11px;
        }

        .flag.flag-bd {
            background-position: -32px -11px;
        }

        .flag.flag-be {
            background-position: -48px -11px;
        }

        .flag.flag-bf {
            background-position: -64px -11px;
        }

        .flag.flag-bg {
            background-position: -80px -11px;
        }

        .flag.flag-bh {
            background-position: -96px -11px;
        }

        .flag.flag-bi {
            background-position: -112px -11px;
        }

        .flag.flag-bj {
            background-position: -128px -11px;
        }

        .flag.flag-bm {
            background-position: -144px -11px;
        }

        .flag.flag-bn {
            background-position: -160px -11px;
        }

        .flag.flag-bo {
            background-position: -176px -11px;
        }

        .flag.flag-br {
            background-position: -192px -11px;
        }

        .flag.flag-bs {
            background-position: -208px -11px;
        }

        .flag.flag-bt {
            background-position: -224px -11px;
        }

        .flag.flag-bv {
            background-position: -240px -11px;
        }

        .flag.flag-bw {
            background-position: 0 -22px;
        }

        .flag.flag-by {
            background-position: -16px -22px;
        }

        .flag.flag-bz {
            background-position: -32px -22px;
        }

        .flag.flag-ca {
            background-position: -48px -22px;
        }

        .flag.flag-catalonia {
            background-position: -64px -22px;
        }

        .flag.flag-cd {
            background-position: -80px -22px;
        }

        .flag.flag-cf {
            background-position: -96px -22px;
        }

        .flag.flag-cg {
            background-position: -112px -22px;
        }

        .flag.flag-ch {
            background-position: -128px -22px;
        }

        .flag.flag-ci {
            background-position: -144px -22px;
        }

        .flag.flag-ck {
            background-position: -160px -22px;
        }

        .flag.flag-cl {
            background-position: -176px -22px;
        }

        .flag.flag-cm {
            background-position: -192px -22px;
        }

        .flag.flag-cn {
            background-position: -208px -22px;
        }

        .flag.flag-co {
            background-position: -224px -22px;
        }

        .flag.flag-cr {
            background-position: -240px -22px;
        }

        .flag.flag-cu {
            background-position: 0 -33px;
        }

        .flag.flag-cv {
            background-position: -16px -33px;
        }

        .flag.flag-cw {
            background-position: -32px -33px;
        }

        .flag.flag-cy {
            background-position: -48px -33px;
        }

        .flag.flag-cz {
            background-position: -64px -33px;
        }

        .flag.flag-de {
            background-position: -80px -33px;
        }

        .flag.flag-dj {
            background-position: -96px -33px;
        }

        .flag.flag-dk {
            background-position: -112px -33px;
        }

        .flag.flag-dm {
            background-position: -128px -33px;
        }

        .flag.flag-do {
            background-position: -144px -33px;
        }

        .flag.flag-dz {
            background-position: -160px -33px;
        }

        .flag.flag-ec {
            background-position: -176px -33px;
        }

        .flag.flag-ee {
            background-position: -192px -33px;
        }

        .flag.flag-eg {
            background-position: -208px -33px;
        }

        .flag.flag-eh {
            background-position: -224px -33px;
        }

        .flag.flag-england {
            background-position: -240px -33px;
        }

        .flag.flag-er {
            background-position: 0 -44px;
        }

        .flag.flag-es {
            background-position: -16px -44px;
        }

        .flag.flag-et {
            background-position: -32px -44px;
        }

        .flag.flag-eu {
            background-position: -48px -44px;
        }

        .flag.flag-fi {
            background-position: -64px -44px;
        }

        .flag.flag-fj {
            background-position: -80px -44px;
        }

        .flag.flag-fk {
            background-position: -96px -44px;
        }

        .flag.flag-fm {
            background-position: -112px -44px;
        }

        .flag.flag-fo {
            background-position: -128px -44px;
        }

        .flag.flag-fr {
            background-position: -144px -44px;
        }

        .flag.flag-ga {
            background-position: -160px -44px;
        }

        .flag.flag-gb {
            background-position: -176px -44px;
        }

        .flag.flag-gd {
            background-position: -192px -44px;
        }

        .flag.flag-ge {
            background-position: -208px -44px;
        }

        .flag.flag-gf {
            background-position: -224px -44px;
        }

        .flag.flag-gg {
            background-position: -240px -44px;
        }

        .flag.flag-gh {
            background-position: 0 -55px;
        }

        .flag.flag-gi {
            background-position: -16px -55px;
        }

        .flag.flag-gl {
            background-position: -32px -55px;
        }

        .flag.flag-gm {
            background-position: -48px -55px;
        }

        .flag.flag-gn {
            background-position: -64px -55px;
        }

        .flag.flag-gp {
            background-position: -80px -55px;
        }

        .flag.flag-gq {
            background-position: -96px -55px;
        }

        .flag.flag-gr {
            background-position: -112px -55px;
        }

        .flag.flag-gs {
            background-position: -128px -55px;
        }

        .flag.flag-gt {
            background-position: -144px -55px;
        }

        .flag.flag-gu {
            background-position: -160px -55px;
        }

        .flag.flag-gw {
            background-position: -176px -55px;
        }

        .flag.flag-gy {
            background-position: -192px -55px;
        }

        .flag.flag-hk {
            background-position: -208px -55px;
        }

        .flag.flag-hm {
            background-position: -224px -55px;
        }

        .flag.flag-hn {
            background-position: -240px -55px;
        }

        .flag.flag-hr {
            background-position: 0 -66px;
        }

        .flag.flag-ht {
            background-position: -16px -66px;
        }

        .flag.flag-hu {
            background-position: -32px -66px;
        }

        .flag.flag-ic {
            background-position: -48px -66px;
        }

        .flag.flag-id {
            background-position: -64px -66px;
        }

        .flag.flag-ie {
            background-position: -80px -66px;
        }

        .flag.flag-il {
            background-position: -96px -66px;
        }

        .flag.flag-im {
            background-position: -112px -66px;
        }

        .flag.flag-in {
            background-position: -128px -66px;
        }

        .flag.flag-io {
            background-position: -144px -66px;
        }

        .flag.flag-iq {
            background-position: -160px -66px;
        }

        .flag.flag-ir {
            background-position: -176px -66px;
        }

        .flag.flag-is {
            background-position: -192px -66px;
        }

        .flag.flag-it {
            background-position: -208px -66px;
        }

        .flag.flag-je {
            background-position: -224px -66px;
        }

        .flag.flag-jm {
            background-position: -240px -66px;
        }

        .flag.flag-jo {
            background-position: 0 -77px;
        }

        .flag.flag-jp {
            background-position: -16px -77px;
        }

        .flag.flag-ke {
            background-position: -32px -77px;
        }

        .flag.flag-kg {
            background-position: -48px -77px;
        }

        .flag.flag-kh {
            background-position: -64px -77px;
        }

        .flag.flag-ki {
            background-position: -80px -77px;
        }

        .flag.flag-km {
            background-position: -96px -77px;
        }

        .flag.flag-kn {
            background-position: -112px -77px;
        }

        .flag.flag-kp {
            background-position: -128px -77px;
        }

        .flag.flag-kr {
            background-position: -144px -77px;
        }

        .flag.flag-kurdistan {
            background-position: -160px -77px;
        }

        .flag.flag-kw {
            background-position: -176px -77px;
        }

        .flag.flag-ky {
            background-position: -192px -77px;
        }

        .flag.flag-kz {
            background-position: -208px -77px;
        }

        .flag.flag-la {
            background-position: -224px -77px;
        }

        .flag.flag-lb {
            background-position: -240px -77px;
        }

        .flag.flag-lc {
            background-position: 0 -88px;
        }

        .flag.flag-li {
            background-position: -16px -88px;
        }

        .flag.flag-lk {
            background-position: -32px -88px;
        }

        .flag.flag-lr {
            background-position: -48px -88px;
        }

        .flag.flag-ls {
            background-position: -64px -88px;
        }

        .flag.flag-lt {
            background-position: -80px -88px;
        }

        .flag.flag-lu {
            background-position: -96px -88px;
        }

        .flag.flag-lv {
            background-position: -112px -88px;
        }

        .flag.flag-ly {
            background-position: -128px -88px;
        }

        .flag.flag-ma {
            background-position: -144px -88px;
        }

        .flag.flag-mc {
            background-position: -160px -88px;
        }

        .flag.flag-md {
            background-position: -176px -88px;
        }

        .flag.flag-me {
            background-position: -192px -88px;
        }

        .flag.flag-mg {
            background-position: -208px -88px;
        }

        .flag.flag-mh {
            background-position: -224px -88px;
        }

        .flag.flag-mk {
            background-position: -240px -88px;
        }

        .flag.flag-ml {
            background-position: 0 -99px;
        }

        .flag.flag-mm {
            background-position: -16px -99px;
        }

        .flag.flag-mn {
            background-position: -32px -99px;
        }

        .flag.flag-mo {
            background-position: -48px -99px;
        }

        .flag.flag-mp {
            background-position: -64px -99px;
        }

        .flag.flag-mq {
            background-position: -80px -99px;
        }

        .flag.flag-mr {
            background-position: -96px -99px;
        }

        .flag.flag-ms {
            background-position: -112px -99px;
        }

        .flag.flag-mt {
            background-position: -128px -99px;
        }

        .flag.flag-mu {
            background-position: -144px -99px;
        }

        .flag.flag-mv {
            background-position: -160px -99px;
        }

        .flag.flag-mw {
            background-position: -176px -99px;
        }

        .flag.flag-mx {
            background-position: -192px -99px;
        }

        .flag.flag-my {
            background-position: -208px -99px;
        }

        .flag.flag-mz {
            background-position: -224px -99px;
        }

        .flag.flag-na {
            background-position: -240px -99px;
        }

        .flag.flag-nc {
            background-position: 0 -110px;
        }

        .flag.flag-ne {
            background-position: -16px -110px;
        }

        .flag.flag-nf {
            background-position: -32px -110px;
        }

        .flag.flag-ng {
            background-position: -48px -110px;
        }

        .flag.flag-ni {
            background-position: -64px -110px;
        }

        .flag.flag-nl {
            background-position: -80px -110px;
        }

        .flag.flag-no {
            background-position: -96px -110px;
        }

        .flag.flag-np {
            background-position: -112px -110px;
        }

        .flag.flag-nr {
            background-position: -128px -110px;
        }

        .flag.flag-nu {
            background-position: -144px -110px;
        }

        .flag.flag-nz {
            background-position: -160px -110px;
        }

        .flag.flag-om {
            background-position: -176px -110px;
        }

        .flag.flag-pa {
            background-position: -192px -110px;
        }

        .flag.flag-pe {
            background-position: -208px -110px;
        }

        .flag.flag-pf {
            background-position: -224px -110px;
        }

        .flag.flag-pg {
            background-position: -240px -110px;
        }

        .flag.flag-ph {
            background-position: 0 -121px;
        }

        .flag.flag-pk {
            background-position: -16px -121px;
        }

        .flag.flag-pl {
            background-position: -32px -121px;
        }

        .flag.flag-pm {
            background-position: -48px -121px;
        }

        .flag.flag-pn {
            background-position: -64px -121px;
        }

        .flag.flag-pr {
            background-position: -80px -121px;
        }

        .flag.flag-ps {
            background-position: -96px -121px;
        }

        .flag.flag-pt {
            background-position: -112px -121px;
        }

        .flag.flag-pw {
            background-position: -128px -121px;
        }

        .flag.flag-py {
            background-position: -144px -121px;
        }

        .flag.flag-qa {
            background-position: -160px -121px;
        }

        .flag.flag-re {
            background-position: -176px -121px;
        }

        .flag.flag-ro {
            background-position: -192px -121px;
        }

        .flag.flag-rs {
            background-position: -208px -121px;
        }

        .flag.flag-ru {
            background-position: -224px -121px;
        }

        .flag.flag-rw {
            background-position: -240px -121px;
        }

        .flag.flag-sa {
            background-position: 0 -132px;
        }

        .flag.flag-sb {
            background-position: -16px -132px;
        }

        .flag.flag-sc {
            background-position: -32px -132px;
        }

        .flag.flag-scotland {
            background-position: -48px -132px;
        }

        .flag.flag-sd {
            background-position: -64px -132px;
        }

        .flag.flag-se {
            background-position: -80px -132px;
        }

        .flag.flag-sg {
            background-position: -96px -132px;
        }

        .flag.flag-sh {
            background-position: -112px -132px;
        }

        .flag.flag-si {
            background-position: -128px -132px;
        }

        .flag.flag-sk {
            background-position: -144px -132px;
        }

        .flag.flag-sl {
            background-position: -160px -132px;
        }

        .flag.flag-sm {
            background-position: -176px -132px;
        }

        .flag.flag-sn {
            background-position: -192px -132px;
        }

        .flag.flag-so {
            background-position: -208px -132px;
        }

        .flag.flag-somaliland {
            background-position: -224px -132px;
        }

        .flag.flag-sr {
            background-position: -240px -132px;
        }

        .flag.flag-ss {
            background-position: 0 -143px;
        }

        .flag.flag-st {
            background-position: -16px -143px;
        }

        .flag.flag-sv {
            background-position: -32px -143px;
        }

        .flag.flag-sx {
            background-position: -48px -143px;
        }

        .flag.flag-sy {
            background-position: -64px -143px;
        }

        .flag.flag-sz {
            background-position: -80px -143px;
        }

        .flag.flag-tc {
            background-position: -96px -143px;
        }

        .flag.flag-td {
            background-position: -112px -143px;
        }

        .flag.flag-tf {
            background-position: -128px -143px;
        }

        .flag.flag-tg {
            background-position: -144px -143px;
        }

        .flag.flag-th {
            background-position: -160px -143px;
        }

        .flag.flag-tj {
            background-position: -176px -143px;
        }

        .flag.flag-tk {
            background-position: -192px -143px;
        }

        .flag.flag-tl {
            background-position: -208px -143px;
        }

        .flag.flag-tm {
            background-position: -224px -143px;
        }

        .flag.flag-tn {
            background-position: -240px -143px;
        }

        .flag.flag-to {
            background-position: 0 -154px;
        }

        .flag.flag-tr {
            background-position: -16px -154px;
        }

        .flag.flag-tt {
            background-position: -32px -154px;
        }

        .flag.flag-tv {
            background-position: -48px -154px;
        }

        .flag.flag-tw {
            background-position: -64px -154px;
        }

        .flag.flag-tz {
            background-position: -80px -154px;
        }

        .flag.flag-ua {
            background-position: -96px -154px;
        }

        .flag.flag-ug {
            background-position: -112px -154px;
        }

        .flag.flag-um {
            background-position: -128px -154px;
        }

        .flag.flag-us {
            background-position: -144px -154px;
        }

        .flag.flag-uy {
            background-position: -160px -154px;
        }

        .flag.flag-uz {
            background-position: -176px -154px;
        }

        .flag.flag-va {
            background-position: -192px -154px;
        }

        .flag.flag-vc {
            background-position: -208px -154px;
        }

        .flag.flag-ve {
            background-position: -224px -154px;
        }

        .flag.flag-vg {
            background-position: -240px -154px;
        }

        .flag.flag-vi {
            background-position: 0 -165px;
        }

        .flag.flag-vn {
            background-position: -16px -165px;
        }

        .flag.flag-vu {
            background-position: -32px -165px;
        }

        .flag.flag-wales {
            background-position: -48px -165px;
        }

        .flag.flag-wf {
            background-position: -64px -165px;
        }

        .flag.flag-ws {
            background-position: -80px -165px;
        }

        .flag.flag-ye {
            background-position: -96px -165px;
        }

        .flag.flag-yt {
            background-position: -112px -165px;
        }

        .flag.flag-za {
            background-position: -128px -165px;
        }

        .flag.flag-zanzibar {
            background-position: -144px -165px;
        }

        .flag.flag-zm {
            background-position: -160px -165px;
        }

        .flag.flag-zw {
            background-position: -176px -165px;
        }
    /************************** banderas ************/
    /********* http://www.flag-sprites.com/ ************/
    .sport {
        width: 40px;
        height: 40px;
        background: url(http://www.gonni.com.ar/betplatino/sports/css/sports.png) no-repeat;
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;
    }

        .sport + span {
            display: inline-block;
        }

    .sport-futbol {
        background-position: 0px 0px;
    }

    .sport-voley {
        background-position: 0px -40px;
    }

    .sport-basket {
        background-position: 0px -80px;
    }

    .sport-tenis {
        background-position: 0px -120px;
    }

    .sport-futbolamericano {
        background-position: 0px -160px;
    }

    .sport-golf {
        background-position: 0px -200px;
    }

    .sport-hockeysobrehielo {
        background-position: 0px -240px;
    }

    .sport-handball {
        background-position: 0px -280px;
    }

    .sport-rugby {
        background-position: 0px -320px;
    }

    .sport-boxeo {
        background-position: 0px -360px;
    }

    .sport-tenisdemesa {
        background-position: 0px -400px;
    }

    .sport-automovilismo {
        background-position: 0px -440px;
    }

    .sport-motociclismo {
        background-position: 0px -480px;
    }

    .sport-combate {
        background-position: 0px -520px;
    }

    .sport-voleyplaya {
        background-position: 0px -560px;
    }

    .sport-voleyplaya {
        background-position: 0px -560px;
    }
</style>
<div id="categories" class="col-a">
    @Html.Partial("SportsTree")
</div>
<div ng-app="betsApp" ng-controller="matchsController">
    <div id="events" class="col-b">
        <div class="breadcrum">
            <a href="#">Fútbol</a><a href="#">America</a><a href="#">Argentina</a><a href="#">Torneo Julio Humberto Grondona 2015</a>
        </div>
        <a class="banner" href="#">
            <img src="img/banner-1.jpg">
        </a>
        

        
        </div>
    </div>
    <div class="col-c">
        @Html.Partial("Bets")
    </div>
</div>
